@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');
@import './sass/helpers/variables';

* {
    box-sizing: border-box;
}

html {
    font-family: $primary-font;
}

body {
    padding: 0;
    margin: 0;
    background: $black url(./assets/mobile/image-host.jpg) no-repeat center top;
    background-size: cover;
    background-blend-mode: overlay;
}

header {
    img {
        display: block;
        min-width: 8.4281rem;
        min-height: 3.5rem;
        margin: 3.875rem auto 3.5625rem;
    }
}

main {
    width: max(80%, 327px);
    margin: 0 auto;

    h1 {
        color: $light-green;
        font: 300 1.625rem/2.375rem $primary-font;
        text-transform: uppercase;
        text-align: center;
        margin: 1rem auto;

        strong {
            color: $white;
            font-weight: inherit;
        }
    }

    & > p {
        color: $light-grey;
        font: 300 0.9375rem/1.5625rem $primary-font;
        text-align: center;
    }

    .info{
        margin-top: 2.0625rem;

        .logos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 1.0625rem;
            margin-bottom: 3rem;

            @for $i from 1 through 4 {
                img:nth-child(#{$i}) {
                    width: nth($logo-widths, $i);
                }
            }
        }
    }

    .form {

        &__email, button {
            display: block;
            border: none;
            border-radius: 1.75rem;
            width: 100%;
            height: 2.875rem;
            font: 400 0.875rem/1.75rem $primary-font;
        }

        &__email {
            background-color: $very-dark-grey;
            padding: 0.5625rem 2rem;
            color: $grey;

            &:focus, &-error--active {
                color: $white;
            }
        }

        &__error {
            display: none;
            color: $red;
            margin-top: 0.5rem;
            margin-left: 2rem;
            font: 400 0.75rem/0.8925rem $primary-font;

            &--active {
                display: block;
            }
        }

        button {
            margin-top: 1rem;
            background-color: $light-green;
            color: $black;
            cursor: pointer;
        }

    }
}

// Tablet
@media only screen and (min-width: 768px) {
    body {
        background-image: url(./assets/tablet/image-host.jpg), url(./assets/desktop/bg-pattern-dots.svg);
        background-position: right top, 1.875rem bottom;
        background-blend-mode: unset;
        background-size: auto;
    }

    header {
        img {
            margin: 3.875rem auto 9.5rem 2.4375rem;
        }
    }

    main {
        width: max(80%, 635px);
        margin: 0 5.875rem 9.5625rem 2.4375rem;
        background-color: #121726;
        padding: 5.8125rem 0 9.5625rem; 

        h1 {
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 1.9375rem;
            text-align: left;
        }

        & > p {
            width: max(60%, 445px);
            font-size: 1.125rem;
            line-height: 1.75rem;
            text-align: left;
        }

        .info {
            display: flex;
            flex-direction: column-reverse;

            .logos {
                min-height: 29px;
                width: max(70%, 536px);
                margin-bottom: 0;

                img {
                    width: auto !important;
                }
            }
        }

        .form {
            width: max(60%, 427px);
            margin-bottom: 4rem;
            position: relative;

            &__email {
                height: 3.5rem;
            }

            button {
                width: 10.125rem;
                height: 2.875rem;
                position: absolute;
                margin: 5px;
                top: 0;
                right: 0;
            }
        }
    }
}

// Desktop
@media only screen and (min-width: 1200px) {
    body {
        background-image: url(./assets/desktop/bg-pattern-dots.svg), url(./assets/desktop/image-host.jpg);
        background-position: right 90%, right center;
        background-blend-mode: none, unset;
        background-size: auto, auto;
    }

    header{
        img {
           margin: max(5%, 6.375rem) auto 6.4375rem max(8%, 10.3125rem);
        }
    }

    main {
        width: max(35%, 723px);
        margin: 0 auto 0 max(8%, 8.125rem);

        .form {
            margin-bottom: calc(4rem - 0.875rem - 0.5rem);

            &__error {
                display: block;
                visibility: hidden;
                height: 14px;
                margin-bottom: 0;

                &--active {
                    visibility: visible;
                }
            }

            button {
                &:hover {
                    background-color: #B3FFE2;
                }
            }
        }
    }
}