@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap");
/* Colors */
/* Font */
/* Logo sizes */
* {
  box-sizing: border-box;
}

html {
  font-family: "Chivo", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #121726 url(./assets/mobile/image-host.jpg) no-repeat center top;
  background-size: cover;
  background-blend-mode: overlay;
}

header img {
  display: block;
  min-width: 8.4281rem;
  min-height: 3.5rem;
  margin: 3.875rem auto 3.5625rem;
}

main {
  width: max(80%, 327px);
  margin: 0 auto;
}
main h1 {
  color: #56e6af;
  font: 300 1.625rem/2.375rem "Chivo", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem auto;
}
main h1 strong {
  color: white;
  font-weight: inherit;
}
main > p {
  color: #c2cbe5;
  font: 300 0.9375rem/1.5625rem "Chivo", Arial, sans-serif;
  text-align: center;
}
main .info {
  margin-top: 2.0625rem;
}
main .info .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 1.0625rem;
  margin-bottom: 3rem;
}
main .info .logos img:nth-child(1) {
  width: 3.5rem;
}
main .info .logos img:nth-child(2) {
  width: 2.8125rem;
}
main .info .logos img:nth-child(3) {
  width: 4.5625rem;
}
main .info .logos img:nth-child(4) {
  width: 4.8125rem;
}
main .form__email, main .form button {
  display: block;
  border: none;
  border-radius: 1.75rem;
  width: 100%;
  height: 2.875rem;
  font: 400 0.875rem/1.75rem "Chivo", Arial, sans-serif;
}
main .form__email {
  background-color: #2b334a;
  padding: 0.5625rem 2rem;
  color: #5b678b;
}
main .form__email:focus, main .form__email-error--active {
  color: white;
}
main .form__error {
  display: none;
  color: #fb3c3c;
  margin-top: 0.5rem;
  margin-left: 2rem;
  font: 400 0.75rem/0.8925rem "Chivo", Arial, sans-serif;
}
main .form__error--active {
  display: block;
}
main .form button {
  margin-top: 1rem;
  background-color: #56e6af;
  color: #121726;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(./assets/tablet/image-host.jpg), url(./assets/desktop/bg-pattern-dots.svg);
    background-position: right top, 1.875rem bottom;
    background-blend-mode: unset;
    background-size: auto;
  }

  header img {
    margin: 3.875rem auto 9.5rem 2.4375rem;
  }

  main {
    width: max(80%, 635px);
    margin: 0 5.875rem 9.5625rem 2.4375rem;
    background-color: #121726;
    padding: 5.8125rem 0 9.5625rem;
  }
  main h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1.9375rem;
    text-align: left;
  }
  main > p {
    width: max(60%, 445px);
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: left;
  }
  main .info {
    display: flex;
    flex-direction: column-reverse;
  }
  main .info .logos {
    min-height: 29px;
    width: max(70%, 536px);
    margin-bottom: 0;
  }
  main .info .logos img {
    width: auto !important;
  }
  main .form {
    width: max(60%, 427px);
    margin-bottom: 4rem;
    position: relative;
  }
  main .form__email {
    height: 3.5rem;
  }
  main .form button {
    width: 10.125rem;
    height: 2.875rem;
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
