/* Colors */
$light-green: hsl(157, 74%, 62%);
$light-grey: hsl(225, 40%, 83%);
$grey: hsl(225, 21%, 45%);
$very-dark-grey: hsl(225, 26%, 23%);
$black: hsl(224, 35%, 11%);
$white: hsl(0, 0%, 100%);

// Error
$red: hsl(0, 96%, 61%);

/* Font */
$primary-font: 'Chivo', Arial, sans-serif;

/* Logo sizes */
$logo-widths:  3.5rem, 2.8125rem, 4.5625rem, 4.8125rem;